bin
build
lib
include
.project
.settings
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o
.sconsign.dblite
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
